
/* Footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
  color: white;
  text-align: center;
  padding: 2px;
  font-size: 15px;
}

google-map { 
  width: 80%; 
  max-width: 600px;   
  height: 100%;
  border-radius: 10px;  
  margin-top: 100px;
 
 } 

.map-wrapper {
  display: flex;
  justify-content: right; 
  align-items: center;
  width: 100%;

} 
.input-container {
  display: flex; 
  flex-direction: column;
  margin-bottom: 10px;

}

.input-container label {
  position: absolute;
  bottom: 20px;  
  left: 102px;
  top: 510px;
  font-size: 16px;
  font-weight: bold;
}
.required {
  color: red;
  font-size: 18px;
  font-weight: bold;
  margin-left: 5px;
}

#searchBox {
  position: absolute;
  bottom: 180px;  
  left: 6.5%;
  width: 650px;  
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.separator {
  margin-top: 80px;
  border: 1px solid black;
  width: 100vw; /* 100% of the viewport width */
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  border-radius: 10px;
}
button {
  border: none;
  padding: 10px 40px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.disabled-button {
  background-color: lightgreen;
  color: gray;
  cursor: not-allowed;
}

.active-button {
  background-color: #ADFF2F;
  color: black;
  cursor: pointer;
}
.heading {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  position: absolute;
  top: 280px;
}

.description {
  font-size: 18px; 
  color: #555; 
  width: 35%; 
  line-height: 1.5; 
  margin-bottom: 10px;
  position: absolute;
  top: 350px;
  font-family: 'Poppins', sans-serif; /* Modern and stylish font */
  font-weight: 500; /* Medium boldness */
  letter-spacing: 0.5px; /* Adds spacing for readability */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Light shadow for effect */
}

.company-logo {
  display: block;
  max-width: 150px;
  margin: 0 auto 10px;
  position: absolute;
  width: 125px;
  top: 110px;
  right: inherit;
} 


